<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>calling to srujana</h1>
        <h1>ringing...........</h1>
        <h1>lift the call</h1>
        <h1>vadilesthunavara???????</h1>
         <h2><a href="{% url 'srujana' %}">Navigate to srujana</a>
        
            <a href="{% url 'sudheer' %}">Navigate to sudheer</a>
            <a href="{% url 'sudheer2' %}">Navigate to sudheer2</a>
        </h2>

    </center>
    
</body>
</html>